@media screen and (min-width: 320px) and (max-width: 767px) {
  .lorem__ipsum {
    // height: 884px;
    top: 610px;
    font-family: var(--main-font);
    color: #212121;

    &-tittle {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      padding-bottom: 10px;
    }
    &-item-p {
      max-width: 450px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575;
      text-transform: none;
      margin-bottom: 220px;
    }
  }
  .container__lorem-ipsum {
    height: 884px;
    position: absolute;
    top: 670px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
}

// --------------TABLET-------------

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__ipsum {
    top: 610px;
    font-family: var(--main-font);
    color: #212121;

    &-tittle {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      padding-bottom: 10px;
      text-align: left;
    }
    &-item-p {
      width: 354px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575;
      text-transform: none;
      margin-bottom: 180px;
    }
  }

  .container__lorem-ipsum {
    max-width: 767px;
    display: flex;
    flex-wrap: wrap;
    height: 372px;
    
    top: 690px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
     position: absolute;
    margin: auto;
  }
}

// -------------PC------------
@media screen and (min-width: 1200px) {
 .lorem__ipsum {
    height: 101px;
    top: 774px;
    font-family: var(--main-font);
    color: #212121;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto;
    margin-top: 30px;
    &-tittle {
      text-align: left;
    }

    &-item {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      flex-basis: 270px;
    }

    &-item:not(:last-child) {
      margin-right: 30px;
    }

    &-item-p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575;
      text-transform: none;
      margin-top: 10px;
      width: 270px;
    }
  }

  .container__lorem-ipsum {
    display: flex;
    justify-content: center;
    padding-left: 30px;

    align-items: center;

    margin-bottom: 94px;
  }
}

// .lorem__ipsum {
//   height: 101px;
//   top: 774px;
//   font-family: var(--main-font);
//   color: #212121;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//   margin: 0 auto;
//   margin-top: 30px;

// &-item {
//   font-style: normal;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   /* align-items: center;
// justify-content: center; */
//   margin: 0 auto;
//   justify-content: center;
// }

// &-item {
//   flex-basis: 270px;
// }

// &-item:not(:last-child){
//   margin-right: 30px;
// }

// &-item-p{
// font-style: normal;
// font-weight: normal;
// font-size: 14px;
// line-height: 1.714;
// letter-spacing: 0.03em;
// color: #757575;
// text-transform: none;
// margin-top: 10px;
// }
// }

// .container__lorem-ipsum {
//   display: flex;
//   width: 1200px;
//   padding: 0 15px;
//   align-items: center;
//   margin: 0 auto;
//   justify-content: center;
//   margin-bottom: 94px;
// }
